urls=/index/newall/,/comments/
#sleep_time=5

phpsessid=cookie from tabun.everypony.ru
key=cookie from tabun.everypony.ru
username=Orhideous
password=123456

#mysql_username=for mysql plugin
#mysql_password=secret
#mysql_database=tabun_backup

#timeout=20
#pidfile=.pid
#alivefile=.alive

#get_comments_max_pages=0

# vk.py example:
# vk_targets=_: -default_group_id: prefix; fanart, draw_blog: -777, tabun_feed_gallery; stories, Poetry_blog: -8542, tabun_feed_stories
